*.go
compile
autom4te.cache
aclocal.m4
build-environ
guile-snmp-*.tar.gz
test-environ
config.h
config.h.in~
config.log
configure
depcomp
config.status
config.sub
config.guess
install-sh
libtool
ltmain.sh
Makefile
missing
Makefile.in
stamp-h1
tests/Makefile.in
tests/Makefile
src/*.so
src/*.o
src/*.la
src/*.lo
src/*.loT
src/*_wrap.c
src/*_wrap.cpp
src/snmp/net-snmp.scm
src/.deps
src/.libs
src/Makefile
src/mib.h
src/snmp_api.h
src/snmp_client.h
acinclude.m4
src/snmp-shell
unit-tests/.test-agent-pid
m4/*.m4
